<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="container">
  <h3>Employee Form</h3>
  <form #form="ngForm" novalidate>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" required name="firstName" 
      [(ngModel)]="model.firstName">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" required name="lastName" 
      [(ngModel)]="model.lastName">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="isFullTime" 
        [(ngModel)]="model.isFullTime"> Full-time Employment
      </label>
    </div>

    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="W2" checked
        [(ngModel)]="model.paymentType"> W2
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="paymentType" value="1099"
        [(ngModel)]="model.paymentType"> 1099
      </label>
    </div>

    <div class="form-group">
      <label>Primary Language</label>
      <select class="form-control" name="primaryLanguage" [(ngModel)]="model.primaryLanguage">
        <option *ngFor="let language of languages">
          {{ language }}
        </option>
      </select>
    </div>

    <div class="form-group">
        <label>Hire Date</label>
        <input type="date" class="form-control" name="hireDate" ngModel>
      </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  Model: {{model | json }}
  <br>
  Angular: {{form.value | json }}

</div>