<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="container">
  <h3>Employee Form</h3>
  <form #form="ngForm" novalidate>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" required name="firstName" ngModel>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" required name="lastName" ngModel>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="isFullTime" ngModel>
        Full-time Employment
      </label>
    </div>

    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="pay-type" value="w2" checked>
        W2
      </label>
    </div>
    <div>
      <label>
          <input type="radio" name="pay-type" value="1099">
          1099
        </label>
    </div>

    <div class="form-group">
        <label>Primary Language</label>
        <select class="form-control">
          <option *ngFor="let language of languages">
            {{ language }}
          </option>
        </select>
      </div>
  

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
